<div [@routerTransition]>
    <app-page-header [heading]="'查看企业信息'" [icon]="'fa-th-list'"></app-page-header>
    <div class="row" *ngIf="corpData">
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">类别:</div>
                <div class="col-8" *ngIf="corpData.corpType">{{corpData.corpType.name}}</div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">公司名:</div>
                <div class="col-8">{{corpData.name}}</div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">城市:</div>
                <div class="col-8">{{corpData.city}}</div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">详细地址:</div>
                <div class="col-8">{{corpData.address}}</div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">经营范围:</div>
                <div class="col-8">{{corpData.busiScope}}</div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">联系人:</div>
                <div class="col-8">{{corpData.linkMan}}</div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="row">
                <div class="col-4">电话:</div>
                <div class="col-8">{{corpData.linkTel}}</div>
            </div>
        </div>
        <div class="col-12 justify-content-center">
            <div class="col-md-6">
                <img [src]="corpData.certImageUrl" width="400">
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-6 ">
            <button class="btn btn-primary" (click)="toEdit()">编辑</button>
            &nbsp;
            <button class="btn btn-secondary" (click)="goBack()">返回</button>
        </div>

    </div>
</div>
