<div class="modal-header">
    <h4 class="modal-title">编辑生产资料</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="dataForm">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="idmaterielType">物料类别</label>
                <select formControlName="materielType" class="form-control" id="idmaterielType">
                    <option value="1">种子</option>
                    <option value="2">植保物料</option>
                    <option value="3">包装物料</option>
                    <option value="4">生产物料</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="idname">物料名称</label>
                <input type="text" class="form-control" formControlName="productName" id="idproductName" placeholder="产品名">
            </div>
            <div class="form-group col-6">
                <label for="idcommodityCode">物料编码</label>
                <input type="text" class="form-control" formControlName="productCode" id="idproductCode">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="idname">供货企业名称</label>
                <input type="text" class="form-control" formControlName="supplyCorpName" id="idSupplyCorpName" placeholder="供货企业">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="iddescription">描述</label>
                <textarea  class="form-control" formControlName="description" id="iddescription" placeholder="供货企业" rows="3"></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <p-fileUpload name="file[]" #fubauto chooseLabel="上传主图" mode="basic" url="http://api.yjf2b.com/auth/v2/open/file/upload" accept="image/*" (onUpload)="onBasicUploadAuto($event)" auto="true"></p-fileUpload>
            </div>
            <div class="form-group col-md-6">
                <img *ngIf="imageUrl" [src]="imageUrl" width="100px;">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="idpuchQty">采购数量</label>
                <input type="text" class="form-control" formControlName="puchQty" id="idpuchQty" placeholder="产品名">
            </div>
            <div class="form-group col-6">
                <label for="idpuchUnit">单位</label>
                <input type="text" class="form-control" formControlName="puchUnit" id="idpuchUnit">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="idpuchUser">采购人</label>
                <input type="text" class="form-control" formControlName="puchUser" id="idpuchUser" placeholder="产品名">
            </div>
            <div class="form-group col-6">
                <label for="idcheckUser">核对人</label>
                <input type="text" class="form-control" formControlName="checkUser" id="idcheckUser">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-6">
                <label for="idpuchDate">日期</label>
                <p-calendar   formControlName="puchDate"  dateFormat="yy-mm-dd" dataType="string" > </p-calendar>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">

            </div>
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary">保存</button>&nbsp;
                <button type="button" (click)="closeDialog()" class="btn btn-warning">关闭</button>
            </div>

        </div>
    </form>

</div>
