<div class="container">
    <form (ngSubmit)="paginateQuery(null)">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <div class="col-4 text-left">
                        订单编号
                    </div>
                    <div class="col-8 text-left">
                        <input type="text" [(ngModel)]="searchData.orderNo" class="form-control" name="orderNo"
                               id="idbillCode">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <div class="col-4 text-left">
                        手机号码
                    </div>
                    <div class="col-8 text-left">
                        <input type="text" [(ngModel)]="searchData.userMobile" class="form-control" name="userMobile"
                               id="iduserMobile">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <div class="col-4 text-left">
                        订单状态
                    </div>
                    <div class="col-8 text-left">
                        <select [(ngModel)]="searchData.status" name="status" class="form-control" id="idStatus">
                            <option value="">请选择</option>
                            <option value="1">未支付</option>
                            <option value="2">已支付</option>
                            <option value="3">待发货</option>
                            <option value="4">已发货</option>
                            <option value="5">交易完结</option>
                            <option value="8">已退款</option>
                            <option value="9">已售后</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-12">
                <div class="row">
                    <div class="col-2 text-left">
                        日期范围
                    </div>
                    <div class="col-10 text-left">
                        <p-calendar [(ngModel)]="searchData.startDate" showButtonBar="true" dataType="string"
                                    name="startDate" dateFormat="yy-mm-dd"></p-calendar>
                        至
                        <p-calendar [(ngModel)]="searchData.endDate" showButtonBar="true" dataType="string"
                                    name="endDate" dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12 text-right ">
                    <button class="btn btn-primary" type="submit" [disabled]="submitted">查询</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="col-xl-12">
    <p-table [value]="listData">
        <ng-template pTemplate="header">
            <tr>
                <th>订单编号</th>
                <th>订单日期</th>
                <th>支付方式</th>
                <th>订单金额</th>
                <th>数量</th>
                <th>订单手机号</th>
                <th>联系人</th>
                <th>收货城市</th>
                <th>订单状态</th>
                <th>操作</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td class="break-custom">
                    {{item.productOrder.orderNo}}
                </td>
                <td class="break-custom">{{item.createdDate}}</td>
                <td>
                    <span *ngIf="item.payType == 1">支付宝</span>
                    <span *ngIf="item.payType == 2">微信</span>
                </td>
                <td>{{item.amount}}</td>
                <td>{{item.productCount}}</td>
                <td class="break-custom">{{item.productOrder.userMobile}}</td>
                <td><span *ngIf="item.recvAddress">{{item.productOrder.address.linkName}}</span></td>
                <td><span *ngIf="item.recvAddress">{{item.productOrder.address.city}}</span></td>
                <td>
                    <span *ngIf="item.status < 2">未支付</span>
                    <span *ngIf="item.status == 2">已支付</span>
                    <span *ngIf="item.status == 3">待发货</span>
                    <span *ngIf="item.status == 4">已发货</span>
                    <span *ngIf="item.status == 5">已完结</span>
                    <span *ngIf="item.status == 9">已售后</span>
                </td>
                <td>
                    <button class="btn btn-outline-secondary" (click)="toView(item.id)">查看</button>
                    &nbsp;
                    <button class="btn btn-outline-secondary" *ngIf="item.status==2" (click)="toTrans(item.id)">发货
                    </button>
                    &nbsp;
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator [rows]="pageNav.itemsPerPage" [totalRecords]="pageNav.totalElements"
                 (onPageChange)="paginateQuery($event)"></p-paginator>
</div>
